<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<h1>Поиск по адресам</h1>
<form method="post">
    <input type="text" name="query" placeholder="Введите запрос">
    <button type="submit">Найти</button>
</form>

{% if result %}
    <h2>Подсказки:</h2>
   <ul>
    {% for suggestion in result.suggestions %}
        <li>
            <strong>{{ suggestion.value }}</strong><br>
            <small>{{ suggestion.unrestricted_value }}</small>
        </li>
    {% endfor %}
</ul>

{% endif %}

<h1>Поиск по ИНН</h1>
<form method="post">
    <input type="text" name="query" placeholder="Введите запрос">
    <button type="submit">Найти</button>
</form>

{% if secondResult %}
    <h2>Результат:</h2>
    <ul>
    {% for suggestion in secondResult.suggestions %}
        <li>
            <strong>{{ suggestion.value }}</strong><br>
            <small>{{ suggestion.unrestricted_value }}</small>
        </li>
    {% endfor %}
</ul>
{% endif %}
</body>
</html>